/* Generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.marLef0_5rem {
  margin-left: 0.5rem;
}

.btn {
  font-size: 1rem;
  padding: 1.5rem 3rem;
  border: none;
  border-radius: 2rem;
}

.btnYel {
  color: white;
  background-color: rgba(232, 210, 89, 255);
}

p {
  line-height: 1.5;
}